.sidebar {
    position: fixed;
    height: 100vh;
}

.sidebar a {
    color: var(--text-secondary);
    cursor: pointer;
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--primary-color);
}

.highlighted {
    color: #fff;
    background: #5932ea;
}

.vl {
    border-left: 1px solid #acacac;
    height: 50px;
}

.account {
    width: 70%;
    position: absolute;
    bottom: 30px;
}

.college-info {
    color: var(--text-secondary);
}

.college-info p {
    margin: 0;
}
